*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background:linear-gradient(13deg, #F4D03F, #E74C3C, #7D3C98 );
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #ECF0F1 ;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
 background:linear-gradient(13deg, #F4D03F, #E74C3C, #7D3C98 );
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .input-box1 span.details1{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  position:relative;
  left:1px;
  top:-70px;
}
textarea{
	position:relative;
  left:1px;
  top:-69px;
  resize:none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #F8C471 ;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .gender-details1 .gender-title1{
  font-size: 20px;
  font-weight: 500;
  position:relative;
  left:340px;
  top:-85px;
 }
 
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
  
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #E74C3C;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 48px;
   margin: 35px 0;
 }
 form .button input{
   height: 100%;
   width: 30%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background:linear-gradient(13deg, #F4D03F, #E74C3C, #7D3C98 );
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-13deg, #F4D03F, #E74C3C, #7D3C98);
  }
  form .button a{
   height: 48px;
   margin: 35px 0;
 }
 form .button a{
   height: 100%;
   width: 30%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background:linear-gradient(13deg, #F4D03F, #E74C3C, #7D3C98 );
   -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align:center;
    text-decoration: none;
	position: relative;
	bottom: 1px;
    padding-top: 2%;
   
 }
 form .button a:hover{
  /* transform: scale(0.99); */
  background:linear-gradient(-13deg, #F4D03F, #E74C3C, #7D3C98 );
  }
  
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.dropdown-menu{
  height: 45px;
  width: 47%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.dropdown-menu option{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-menu1{
  height: 45px;
  width: 47%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  position:relative;
  left:338px;
  top:-85px;
}
.dropdown-menu1 option{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}
