<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link href="webjars/bootstrap/5.0.1/css/bootstrap.min.css"
        rel="stylesheet">
        <script src="webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
        <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
        <link href="css/login.css"
        rel="stylesheet">
         <script src="js/login.js"></script>
</head>
<body>
<h1>ERROR in login </h1>
<a href="/login">go back</a>
</body>